body{
    color:rgb(245, 2, 2);
    background:rgb(170, 231, 2);
    margin: 0px;
    font-family: " bitcount single ink",sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(255, 238, 0);
    padding: 20px;
    font-size: 40px;
    color: rgb(88, 240, 0);
}

.chamada{
    background: orange;
    padding-bottom:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid yellow;
}

.categoria h2{
    color:green;
}