body{
    color:rgb(245, 2, 2);
    background:blue;
}

heard{
    border_bottom: solid 2px rgb(255, 238, 0);
    padding: 20px;
    font-sinze: 32px;
    color: rgb(2, 2, 2);
}

section{
    background: orange;
    padding-bottom:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}